
/* IRANYekan Font */
@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebThin.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebThin.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebThin.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebLight.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebLight.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebLight.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebRegular.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebRegular.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebMedium.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebMedium.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebBold.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebExtraBold.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebBlack.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebBlack.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 950;
  src: url('../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebExtraBlack.woff2') format('woff2'),
       url('../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebExtraBlack.woff') format('woff'),
       url('../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
}

/* Apply fonts to elements */
body,
body .wrapper,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body input,
body textarea,
body select,
body button,
body .btn,
body .card-title,
body .page-title,
body .nav-link,
body .dropdown-item {
  font-family: var(--matn) !important;
} 